:root{
  --farbe: #fff5ee; 
}


*{
 color: #252525;

}




  
  .bodyIndex {
    background-image: url('bilder/dji_fly_20231126_112932_353_1700997032135_photo_optimized.jpg');
    background-size: cover; /* Füllt die Breite vollständig aus */
    background-position: center center; /* Startet zentriert und oben */
    height: 100vh; 
    padding-bottom: 50px;
  }


.ellipse{
  height: 15vh;
  width: 40%;
  background-color: rgb(15, 178, 253);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 8vh;
  font-size: 5vw;
  font-family:'Open Sans'

}

@media (orientation: landscape){
  .ellipse{
 height: 17vh;
 font-size: 4vw ;
 width: 35%;
 margin-top: 6.5vh;
}
}
h1{ text-align: center; 
  justify-content: center;
  font-size: calc(4vw + 4vh);
  flex-grow: 1;
  text-align: center;
  margin: 0 auto;
  
}

button{
  
  width: 25vw;
  height: 5vh;
  margin-bottom: 2vh;
  font-size: calc(1vh + 1.5vw);
  
}

#nav{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  margin-left: -2vw;
}
h2{text-align: center; 
  font-size: calc(2.5vw + 2.5vh) !important;
 }

 .container{
  position: relative;
 }
 
 .neuesElement{ display: flex;
  align-items: center;
  gap: 1%;
  height: 8vh;
  margin-top: -1.75vh;
  
  }
  .bigWords{
  text-align: center;
  font-size: calc(4vw + 2vh);
  
  } 
  .headline{
  display: flex;
  align-items: center;
  gap: 4%;
  height: 8vh;
  padding-top: calc(7vh + 2vw);
  justify-content: space-between;

  }
  #inputTime{
    margin-left: 1.75vw;
  }


  @media (orientation: landscape){
  .headline{
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    gap: 2.5%;
    height: 13vh;
 
  }

  button{
    height: 6vh;
    min-height: 30px;
  }
.neuesElement{
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  gap: 2%;
  height: 13vh !important;
}
svg{
  height: 13vh;
}
#nav{
  margin-left: 9vw;
  margin-right: 10vw;
  width: 80vw;
}


}
 /*
  .bodyIndex{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color:red;
  
  } */


h1, h2, svg, label, .neuesElement, .erinnerungContainer, .timerContainer, .blockingContainer, .offeneAusredeContainer, button{
  background-color:var(--farbe) ;
}
  svg{
  width: 9vw;
  height: 8vh;
  cursor: pointer;
  }
  .bigHeadlines{
  text-align: center;
  font-size: calc(4vw + 4vh);
  }
  .hidden{
  display: none;
  }
  
  .timerHeadline{
    display: flex;
    height: 6vh;
    justify-content: center;
    align-items: center;
    min-height: 4vw;
    margin-bottom: 2vh;
    margin-top: 2vh;
  }
  
  .timerContainer{
    box-sizing: border-box;
    height:auto;
    padding: calc(0.75vw + 0.5vh);
  border: calc(0.3vw + 0.3vh) solid black;
   margin-top: 7vh;
    
  }


  

    
  .newTimer, .newTimeBlocking{
  margin-bottom: 5vh;
  }
  
  
  input, select{
  border:2px solid transparent;
  box-shadow: 0 0 0 2px black;
  background-color: var(--farbe);
  }
  input::placeholder{
  color: black;
  
  }
 
  
  
  .erinnerungName{
    display: flex;
    font-size: calc(1vh + 3.25vw);
  width: 54vw;
  text-align: center;
  height:calc(4vh + 1.5vw);
  background-color:var(--farbe);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  margin: 0 4vw;
  }

  .input-name, #ausredeName{
    display: flex;
    font-size: calc(1vh + 3.25vw);
  width: 77vw;
  text-align: center;
  height:calc(4vh + 1.5vw);
  background-color:var(--farbe);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 4vw;
  }

  .erinnerungName:invalid, .input-name:invalid, #inputDate:invalid, #inputTime:invalid, #timeBlockingDatum:invalid, #startTime:invalid, #endTime:invalid{
    background-color: #f5c2c2;;
  }


  #inputTime, #inputDate, #start-time, #end-time{
    margin-left: 1vw;
    margin-right: 1vw;
  }
  
  @media (orientation: landscape) {
    .input-name, .erinnerungName{
font-size:calc(1vh + 2.75vw) ;
background-color:var(--farbe);
margin: 0 2.5vw;
width: 60vw;
    }    

  }


  .intervall{
    font-size: calc(1.25vh + 1.25vw);
    
  }
   .wiederholungen{
    font-size: calc(1.25vh + 1.25vw);
    margin-left: 2vw;
    

  }
  #Intervall, #wiederholungen{
    width: 12vw;
    margin-right: 1.4vw;
    margin-left: 1.4vw;
    text-align: center;
  }
  .detailsTimer{
    display: flex;
    width: 100%;
    height:5.25vh;
    flex-wrap: nowrap;
   justify-content: center;
   align-items: center;
   margin-top: 1vh;
    }

    #play-buttonTimer, #stop-buttonTimer {

      margin-left: 1vw !important;
      margin-right: 3vw;
      width: calc(3.5vh + 4vw);
      height: calc(3.5vh + 5vw);
      max-width: 60px;
      max-height: 60px;
    }

 
  
  #play-button, #stop-button {
    width: calc(3.5vh + 4vw);
    height: calc(3.5vh + 5vw);
    margin: auto;
    max-width: 60px;
    max-height: 60px;
  }
  #play-buttonZeitplanung, #stop-buttonZeitplanung{
    width: calc(3.5vh + 4vw);
    height: calc(3.5vh + 5vw);
    margin:1vh 1vh 1vh 1vh  ;
    max-width: 60px;
    max-height: 60px;

  }
  @media (orientation: landscape){
    .ausredeDates{
      width:14vw !important;
      font-size: small !important;
    }
    .ausredeDatesContainer{
      width: 12.5vw !important;
    }
    .labelAusrede{
      font-size: small !important;
    }
    .checkboxAusrede{
      width: 3.25vw  !important;
      min-width: 25px !important;
      margin-right: 0.5vw !important;
    }
    .ausredeName{
      width: 43vw !important;
    }
  }


  .ausredeDates{
  width:20vw ;
  margin-top: 0.5vh;
  font-size: x-small;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 1vw;

  }

  .ausredeDatesContainer{
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /* Anpassung für Querformat */
  @media (orientation: landscape) {
    #play-button, #stop-button {
      width: calc(2.75vh + 3vw); /* Kleinere Skalierung für breitere Bildschirme */
      height: calc(2.75vh + 4vw);
    }
   

    
    .timerContainer{
      height:26vh ;
      min-height: fit-content;
      margin-top: 9vh;
      width: 80vw;
      margin-left: auto;
      margin-right: auto;
      min-height: 100px;
    }
    .detailsTimer{
      margin-top: 3.5vh;
      height:8vh ;
    }
    #timerName{
      margin-left: 0vw;
      margin-right: 2.5vw;
      width: 70%;
      height: calc(2.75vh + 2.5w);
      font-size: calc(2vh + 2vw);

    }
    .Timermenu{
      width: 6vw !important;
      margin-right:3 vw;
    }

    .input-timer{
      height: 4vh;
      
    }
  }
  


  

  .erinnerungContainer{
  height: 22vh;
  width: auto;
  padding: calc(0.75vw + 0.5vh);
  border: calc(0.3vw + 0.3vh) solid black;
  margin-bottom: 5vh;
  margin-top: 5vh;
  min-height: fit-content;
  max-height: 26vh;
  }
  .blockingContainer{
    height: 27vh;
    width: auto;
    padding: calc(0.75vw + 0.5vh);
    border: calc(0.3vw + 0.3vh) solid black;
    margin-bottom: 8vh;
    margin-top: 5vh;
    min-height: fit-content;
  }

 .newTimeBlockingHeadline{
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 4vw;
  
  
  }

  .erinnerungÜbersicht{
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 4vw;
    
  }
  @media (orientation: landscape) {
    .erinnerungContainer{
      width: 80vw; /* Setzt eine maximale Breite, damit der Container kompakt bleibt */
  margin-left: auto;
  margin-right: auto;
   height: 30vh;
   margin-top: 10vh;
   min-height: 115px;
   max-height: 30vh;
    }
    .blockingContainer{
      width: 80vw; /* Setzt eine maximale Breite, damit der Container kompakt bleibt */
  margin-left: auto;
  margin-right: auto;
   height: 36vh;
   margin-top: 10vh;
   min-height: 175px;
    }

    .inputTimeBlocking{
    height: 50% !important;
    margin: 0 2.5vh 0 2.5vh;
    }
    .erinnerungÜbersicht, .newTimeBlockingHeadline{
      height: 10vh;
      min-height: 40px;
    

    }
  }

 
 
  
  
  
  .erinnerungDetails, .inputTimeBlocking-container {
  height: 6vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  }
  
  .datumContainer{
  display: flex;
  width: 100%;
  height:6vh;
  flex-wrap: nowrap;
 justify-content: center;
 align-items: center;
 margin-top: 0.5vh;
  }
  .datumContainer2{
    display: flex;
    width: 100%;
    height:6vh;
    flex-wrap: nowrap;
   justify-content: center;
   align-items: center;
   margin-top: 0.5vh;

  }
   @media (orientation: landscape){
    .datumContainer{
      height: 8vh;
      margin-top: 1.25vh;
      min-height: 40px;
    }
    .datumContainer2{
      height: 8vh;
      margin-top: 1.25vh;
      min-height: 40px;
    }
    .inputTimeBlocking{
width: 25% !important;
    }
   }
  
  .intervallContainer{
  display: flex;
  width: 50%;
  height: 12vh;
  flex-wrap: wrap;
  }
  #startTime{
    margin-left: 1vw;
  }
  
  .inputErinnerungDetails{
  height: 40%;
  width: 28%;
  margin:1vh 3vw 1vh 3vw;
  background-color: var(--farbe);
  min-height: 17px;
  }

  .inputTimeBlocking{
    height: 40%;
    width: 30%;
    margin:0.5vh 1.5vh 0.5vh 1.5vw;
    background-color: var(--farbe);
  }
  
  .offeneAusredeListe{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  text-wrap: wrap;
  width: auto;
  border: calc(0.5vw+0.5vh) solid black;
  }
  .ausredeDetailsContainer{
   margin-top: 1vh;
   height: fit-content;
    width: 100%;
    border:calc(0.25vw + 0.25vh) solid  #ccc; 
  
  }
  textarea::placeholder {
    font-size: calc(1vh + 1.5vw);
    color: gray; 
    font-style: italic; 
  }

  .geschlosseneAusredeListe{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  text-wrap: wrap;
  width: auto;
  border: calc(0.5vw+0.5vh) solid black;
  }
  
  .offeneAusredeContainer{
  border: calc(0.25vw + 0.25vh) solid  black;
  background-color:var(--farbe);
  margin-bottom: 3vh;
  margin-top: 3vh;
  width: 80%;
  height: fit-content;
  justify-content: center;
  padding: 3vw;
  display: inline-block;
  }
  @media  (orientation: landscape){
  .checkboxTimeBlocking{
    width: 3.75vw !important; }
    
   
    .menuBlocking{
      height: 5vw !important;
      width: 6.25vw !important;
      min-height: 45px !important;
      max-height: 70px !important;
    }

    

        }
  @media  (orientation: landscape){
   .offeneAusredeContainer{
      margin-bottom: 3vw;
      margin-top: 3vw;
      padding: 3vh;
      width: 70%;
    }

    textarea::placeholder {
      font-size: calc(0.75vw + 1.5vh);
    }

    
    .ausredeDetailsContainer{
height: fit-content;
margin-top: 2vw !important;
margin: auto;
width: 80%;
    }
    .ausredeDetailsInput{
      font-size: calc(0.7vw + 1.2vh);
      height: 10vh !important;
    }
  }

  .geschlosseneAusredeContainer{
  border: calc(0.25vw + 0.25vh) solid black;
  background-color:var(--farbe);
  margin-bottom: 3vh;
  margin-top: 3vh;
  width: 80vw;
  height: 18vh;
  padding: 3vw;
 
  }
  
  .ausredeÜbersicht{
  display: block;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .input-nameTimer{
    font-size: calc(1vh + 3.25vw);
    width: 58vw;
    text-align: center;
    margin: auto;
    height:calc(4vh + 1.5vw);
    background-color:(--farbe);
    }
    
    
  .ausredeName{
  width: 55vw;
  height: 4vh;
  margin-bottom:0 ;
  justify-content: center;
  align-items: center;
  }
  
  .ausredeDetailsInput{
    
    width: 100%;
    height: 5vh;
    resize: none;
   border: none;
    outline: none;
    box-sizing: border-box;
    overflow: hidden;
  
  background-color:var(--farbe);

  
  }

  .ausredeDetails{
  height: auto;
  margin: 0% 4% 0% 4%;
  }

  
  #repeat{
  width: 5vw;
}





.labelErinnerung, .labelZeitplanung{
  font-size: calc(1.25vh + 1.25vw);
  
  align-items: center;

}

.labelAusrede{
  font-size: x-small;
}






.dropdown-content {
  
  position: absolute;
  background-color: #fff;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  top: 100%;
  right: 0;
}

.dropdown-content a {
  color: #333;
  padding: 2vw 2.25vh;
  text-decoration: none;
  display: block;}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

@media (orientation:landscape){
  .dropdown-content a{
    padding: 1.25vw 1.25vh;
  }
  .menuErinnerung, .Timermenu{
    min-height: 45px !important;
    max-height: 70px !important;
    width: 7vw !important;
  }
}


.menuErinnerung, .Timermenu{
  height: 9vh;
  width: 11vw;
  cursor: pointer;
  margin: auto;
  min-height: 37px;
  max-height: 50px;

}

.menuBlocking {

  height: 7vh;
  width: 11vw;
  cursor: pointer;
  margin: auto;
  min-height: 37px;
  max-height: 55px;

}

#labelZeitplanungDatum{
  margin-left: 2.5vw; ;
}

.checkboxErinnerung,  .checkboxAusrede{
    width: 4vw;
    min-width: 20px;
    aspect-ratio: 1 / 1;
    height:auto;
    border: 3px solid black;
    box-shadow: none; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    background-color: var(--farbe);
    cursor: pointer; 
    display: inline-block;
    position: relative;
    margin-right: 1.5vw;
  }
  .checkboxTimeBlocking{
    width: 7vw;
    min-width: 25px;
    aspect-ratio: 1 / 1;
    margin: 2vw 2vw 2vw 2vw;
    height:auto;
    border: 3px solid black;
    box-shadow: none; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    background-color: var(--farbe);
    cursor: pointer; 
    display: inline-block;
    position: relative;
    max-width: 40px;
    max-height: 40px ;
  }

  #timeBlockingDatum{
    margin-right: 5vw;
  }

  .checkboxTimeBlocking:checked , .checkboxErinnerung:checked, .checkboxAusrede:checked{
    
    border: 3px solid black;
  }
  
  .checkboxTimeBlocking:checked::before , .checkboxErinnerung:checked::before, .checkboxAusrede:checked::before{
    content: '✔'; 
    font-size: 1.75vh; 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: black; 
  }

  @media (orientation: landscape) {
    .checkboxErinnerung {
        width: 3.8vw; /* Etwas kleiner für Querformat */
    }
    .checkboxTimeBlocking:checked::before , .checkboxErinnerung:checked::before, .checkboxAusrede:checked::before{
    font-size: 5vh;
    
  }
  #labelEndTime{
    margin-left: 2.75vw !important;
  }
#intervallEinheit{
  width: 88% !important;;
}
    

}
  .wiederholungContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}




option {
  font-size: calc(1vw + 1vh);
  background-color: var(--farbe);
  
}
#ErinnerungsDropDown, .BlockingDropDown{
  display: flex;
  width: 100%;
  height: 7.25vh;
  flex-wrap: nowrap;
 justify-content: center;
 align-items: center;
}
 @media  (orientation: landscape){
 #ErinnerungsDropDown{
  height: 9vh;
}
.BlockingDropDown{
 height:8vh;
 min-height: 40px;
}
#block{
  width: 25% !important;
  margin-right: 0.75vw;
  height: 75%;
}
 }
  
 
 


#intervallWertSelect{
  background-color:var(--farbe);
  border: 1px solid black;
  font-size: calc(1vh + 1vw) ;
  height: 4vh;
  width: auto;
  position: absolute;
  z-index: 1;
}


#endDate,#intervallEinheit{
  margin-left: 1vw;
  margin-right: 1vw;
}
#labelEndDate{
  margin: 0vh 0vw 0vh 1.75vw;
}
#intervallEinheit{
  box-shadow: 0 0 0 1.75px black;
  width: 89%;
  box-sizing: border-box;
  height: 60% !important;
  margin-top: 1.2vh;
  min-height: 23px;
  
}

#block, #blockErinnerung{
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 75%;
}

#labelTime{
  margin-left: 1.5vw !important;
}

#labelEndTime{
  margin-left: 3vw;
}
#inputTime, #inputDate, #endTime, #startTime{
  height: 47% !important;
}


input, select {
  border: 2px solid #252525 ; /* Sichtbarer Rahmen */
}

/* Für Safari-spezifische Korrektur: */
@supports (-webkit-touch-callout: none) {
  input[type="date"],
  input[type="time"] {
    -webkit-appearance: none; /* Safari-Standardstyling deaktivieren */
    appearance: none;
  
}
#inputDate:not(:focus):invalid::before,
#timeBlockingDatum:not(:focus):invalid::before,
#endDate:not(:focus):invalid::before {
  content: attr(placeholder); /* Platzhalter-Text anzeigen */
  color: #666;
  position: absolute;
  pointer-events: none;
  margin-left: 12px;
}
}
